<!DOCTYPE html>

<body>

<center>
my items:

<table border="1px">
<tr>

<td> Name </td>
<td> Price </td>
<td> Description </td>
<td> Img </td>
<td> Due Date</td>
<td> URL</td>

</tr>


{% for item in my_items %}
<tr>
<!-- name -->
<td> {{item[2]}}  </td>
<!-- price -->
<td> {{item[1]}}  </td>
<!-- description -->
<td> {{item[3]|safe}}  </td>
<!-- img -->
<td> <img src="{{item[4]}}"></img>  </td>
<!-- due -->
<td> {{item[5]}}  </td>
<!-- url -->
<td> <a href="{{item[6]}}"> Click Me  </a>  </td>
<!-- num collected -->
<td> {{item[8]}} </td>

</tr>

{% endfor %}

</table>


</center>

Add Item

<form action="/add_item" method="POST">

<br>
URL:
<input name="url" type="text">


</input>
<br><br>
Donate By: <input type="date" name="date1"> <br />
</input>

If you wish to use your own description, type it here:
<input type="text" name="other_description">

</input>
Otherwise, the one from Walmart's product page will be used.




<input type="submit">
</input>

</form>



</body>
</html>



