<!DOCTYPE html>

<body>

<center>
my items:

<table border="1px">
<tr>
<td> Name </td> <td> Description </td> <td> Price </td> <td> Due Date </td>
</tr>

{% for item in my_items %}
<tr>

<!-- Name -->
<td> {{item[2]}} </td>
<!-- Description -->
<td> {{item[3]}} </td>
<!-- Price -->
<td> {{item[1]}} </td>
<!-- Due -->
<td> {{item[4]}}</td>

</tr>

{% endfor %}

</table>


</center>

Add Item

<form action="/add_item" method="POST">

<br>
URL:
<input name="url" type="text">


</input>
<br><br>
Donate By: <input type="date" name="date1"> <br />
</input>

If you wish to use your own description, type it here:
<input type="text" name="other_description">

</input>
Otherwise, the one from Walmart's product page will be used.




<input type="submit">
</input>

</form>



</body>
</html>



