{% extends "header.html" %}
{% block header %}
<!DOCTYPE html>
<body>


<center>
These Items Are Listed for Donation:
<table >
<tr>
<td> Name </td> <td> Price </td> <td> Description </td> <td> Image </td> <td> Due Date </td> <td>Link</td>
</tr>

{% for item in items %}
<tr>
<!-- name -->
<td> {{item[2]}}  </td>
<!-- price -->
<td> {{item[1]}}  </td>
<!-- description -->
<td> {{item[3]|safe}}  </td>
<!-- img -->
<td> <img src="{{item[4]}}"></img>  </td>
<!-- due -->
<td> {{item[5]}}  </td>
<!-- url -->
<td> <a href="{{item[6]}}"> Click Me  </a>  </td>
</tr>

{% endfor %}
</table>


<br>
<br>
<a href="/logout"> logout </a>

</body>
</html>
{% endblock header %}
