{% extends "header.html" %}
{% block header %}
<!DOCTYPE html>

<body>
<center>
<br> <br>
<h1>Sign In</h1>

<form action="/auth" method="POST">

Username
<br>
<input name="username" type="text">
</input>
<br> <br>

Password
<br>
<input name="password" type="text">
</input>
<br> <br>

<input type="submit">
</input>

</form>



<h1>Sign Up</h1>
<form action="/signup" method="POST">

First Name
<br>
<input name="fname" type="text">
</input>
<br>
<br>
Last Name <br>
<input name="lname" type="text">
</input>
<br>
<br>

Username
<br>
<input name="username" type="text">
</input>
<br> <br>

Password
<br>
<input type="password" name="password" type="text">
</input>
<br> <br>

Email <br>
<input name="email" type="text">
</input>
<br><br>
<input type="submit">
</input>

</form>

</center>

</body>

</html>
{% endblock header %}
