<!DOCTYPE html>

<body>
<center>
<br> <br>
<h1>Sign In</h1>

<form action="/auth" method="POST">

Username
<br>
<input type="text">
</input>
<br> <br>

Password
<br>
<input type="text">
</input>
<br> <br>

<input type="submit">
</input>

</form>



<h1>Sign Up</h1>
<form>

First Name
<br>
<input type="text">
</input>
<br>
<br>
Last Name <br>
<input type="text">
</input>
<br>
<br>

Username
<br>
<input type="text">
</input>
<br> <br>

Password
<br>
<input type="text">
</input>
<br> <br>

Email <br>
<input type="text">
</input>
<br><br>
<input type="submit">
</input>

</form>

</center>

</body>

</html>
